WEBHOOK_URL=abc

TELEGRAM_TOKEN=abc
TELEGRAM_CHAT_ID=123

AI_PROVIDER=anthropic
GEMINI_API_KEY=abc
GEMINI_MODEL_NAME=gemini-2.5-flash

ANTHROPIC_API_KEY=abc
ANTHROPIC_MODEL_NAME=claude-haiku-4-5-20251001

GOOGLE_SHEETS_SPREADSHEET_ID=abc
GOOGLE_APPLICATION_CREDENTIALS=./abc.json

REDIS_URL="abc"